
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/multi-select/multiple-select.min.css" rel="stylesheet" />
<link href="~/Scripts/multi-select2/isteven-multi-select.css" rel="stylesheet" />

@*<h2>@ViewBag.Title</h2>*@
<div id="wrapper" style="width:100%; text-align:center">
    <img src="~/Images/natcon2018_logo.jpg" width="300" align="middle" alt="@ViewBag.Title" />
</div>

<div data-ng-app="app" data-ng-controller="registrationCtrl" ng-cloak>
    <toaster-container></toaster-container>

    <div ng-if="!validRegistration && !loading" ng-cloak>
        <h3>Sorry, there was a problem with your registration</h3>
        <h4>Possible reasons:</h4>
        <ul style="list-style-type:square">
            <li>Registrations are now closed</li>
            <li>Your registration details are incorrect</li>
        </ul>
    </div>
    <i ng-show="loading" class="fa fa-refresh fa-fw fa-5x" ng-class="{'fa-spin' : loading}"></i>
    <span class="sr-only">Loading...</span>
    <div ng-show="validRegistration && !loading" ng-cloak>
        <h3>Registration details for eMail address <b>{{::displayEmail}}</b></h3>
        <br />
        <div ng-if="registration.registrationDetails.registrationType">
            
            <button class="btn btn-default" ng-click="sendRegistrationAgain()">Click to Re-Send Confirmation email</button>
            <i ng-show="sendingEmail" class="fa fa-refresh fa-fw fa" ng-class="{'fa-spin' : sendingEmail}"></i>
        </div>
        <div ng-if="getTotal() > 0" class="col-sm-12">
            <h3>{{::currentCostsTitle}}: {{ getTotal() | currency}}</h3>
            <span ng-if="!registration.registrationDetails.billPaid">(Please use reference <b>{{registration.registrationDetails.paymentRef}}</b> when sending your payment)</span>
            <span ng-if="registration.registrationDetails.billPaid">(Payment received  - Thank You!)</span>

            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Detail</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="costItem in currentCosts">
                        <td>{{costItem.Description}}</td>
                        <td>{{costItem.Detail}}</td>
                        <td>{{costItem.Cost | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />

        <div class="col-sm-12">
            <form name="registerForm" ng-submit="register()">
                @*<auto:fields fields="schema" data="user" options="options"></auto:fields>*@
                <div class="col-sm-12">
                    <h3>About you</h3>
                    <auto:fields fields="userSchema" data="registration" options="options"></auto:fields>

                    <div class="col-sm-6">
                        <label class="control-label ng-valid">Photographic Honours</label>
                        <div>
                            <div isteven-multi-select
                                 input-model="honoursList"
                                 output-model="outputHonoursList"
                                 button-label="icon name"
                                 item-label="icon name maker"
                                 tick-property="ticked">
                            </div>
                        </div>

                        @*<multiple-autocomplete ng-model="selectedHonours"
                                               suggestions-arr="honoursList">
                        </multiple-autocomplete>*@
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">Club/Societies you belong to</label>
                        <div>
                            <div isteven-multi-select
                                 input-model="clubsList"
                                 output-model="outputClubsList"
                                 button-label="icon name"
                                 item-label="icon name maker"
                                 tick-property="ticked">
                            </div>
                        </div>

                        @*<multiple-autocomplete ng-model="selectedClubs"
                                               suggestions-arr="clubsList">
                        </multiple-autocomplete>*@
                    </div>
                </div>
                <div class="col-sm-12">
                    <h3>Registration Type</h3>
                    <h4>
                        <label ng-repeat="type in registrationTypes">
                            <span class="col-sm-12">
                                <input type="radio" name="regType" ng-model="$parent.selectedRegistration" value={{type}} required />  {{type}}
                            </span>
                        </label>
                    </h4>
                    <auto:fields fields="registrationSchema" data="registration" options="options"></auto:fields>
                </div>
                <div class="col-sm-12">
                    <h3>Field Trip Selections</h3>

                    <h4>{{::fieldTrip0Description}}</h4>
                    <auto:fields fields="fieldTrip0Schema" data="registration" options="options"></auto:fields>
                    <h4>{{::fieldTrip1Description}}</h4>
                    <auto:fields fields="fieldTrip1Schema" data="registration" options="options"></auto:fields>

                </div>
                <div class="col-sm-12" ng-show="workshops">
                    <h3>Workshops</h3>
                    <auto:fields fields="workshopsSchema" data="registration" options="options"></auto:fields>
                </div>
                <button ng-if="linkActive" type="submit" class="btn btn-default btn-lg btn-block" ng-class="{'btn-primary':registerForm.$valid}" tabindex="100">Register</button>
            </form>
        </div>
        <div class="col-sm-6" ng-hide="true">
            <h4>Bound Data</h4>
            @*<pre ng-bind="user | json"></pre>*@
            <pre ng-bind="registration | json"></pre>


            @*<select class="form-control" ng-model="Data.firstType" ng-options="item.value for item in items"></select>
                <select class="form-control" ng-model="Data.SecondType" ng-options="item.value for item in items | filter : exclude"></select>*@

            <h4>Demo Functions</h4>
            <button class="btn btn-default" ng-click="addField()">Add Field</button>
            <button class="btn btn-default" ng-click="toggleValidation()">Toggle Validation</button>
            <button class="btn btn-default" ng-click="togglePopovers()">Toggle Popovers</button>
            <button class="btn btn-default" ng-click="toggleHorizontal()">Toggle Horizontal</button>
        </div>
    </div>
</div>



<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="~/Scripts/autofields.js"></script>



<!-- With Bootstrap -->
<script type="text/javascript" src="~/Scripts/autofields-bootstrap.js"></script>

<script src="~/App/registration.form.js"></script>

<script src="~/App/registration.data.js"></script>

<script src="~/Scripts/multi-select/multiple-select.min.js"></script>

<link href="~/Scripts/toastr/AngularToaster/toaster.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr/AngularToaster/toaster.min.js"></script>

<script src="~/Scripts/multi-select2/isteven-multi-select.js"></script>